/* 초기화 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {list-style: none;}

a, a:hover {text-decoration: none;}

.scrole::-webkit-scrollbar {
    width: 10px;
}

.scrole::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}

.scrole::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
}

/* 헤더 */

header {
    width: 100%;
    height: 100px;
    padding: 0 300px;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
}

header ul {display: flex;}

header li {margin-left: 25px;}

header a {
    color: #fff;
    font-size: 18px;
}

header a:hover {
    color: #fff;
}

@media screen and (max-width:1024px) {
    header {
        padding: 0 100px;
    }
}

/* 섹션 */

section > div {
    width: 100%;
    height: 937px;
}

/* 빵 거리 */

.street {
    background-image: url(../img/15.jpg);
    background-size: cover;
    background-attachment: fixed;

    position: relative;
}

.street h2 {
    color: #fff;
    position: absolute;
    right: 15%;
    top: 13%;
}

/* 빵집 목록 */

.storelist {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    padding: 50px;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    left: 10%;
    top: 12%;
}

.storelist .item {
    width: 210px;
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    border-bottom: 1px solid transparent;
    justify-content: space-between;
    transition: .5s;
}

.storelist .item .title {
    width: 80px;
    color: #fff;
    cursor: pointer;
}

.storelist .item img {height: 40px;}

.storelist .item:hover {
    border-bottom: 1px solid #fff;
}

input[id="one"]:checked ~ .storelist label[for="one"],
input[id="two"]:checked ~ .storelist label[for="two"],
input[id="three"]:checked ~ .storelist label[for="three"],
input[id="four"]:checked ~ .storelist label[for="four"],
input[id="five"]:checked ~ .storelist label[for="five"] {border-bottom: 1px solid #fff;}

/* 요약정보 */

.summarylist {
    display: none;
    width: 600px;
    height: 730px;
    background-color: rgba(0, 0, 0, .5);
    position: relative;
    top: 20%;
    left: 25%;
}

.summarylist .item {
    padding: 40px;
    height: 100%;
    position: absolute;
    color: #fff;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

.summarylist .item .shopimg {
    width: 100%;
    height: 340px;
    object-fit: cover;
}

.summarylist .item .content {white-space: pre-line;}

.summarylist .item .btn {width: 100px;}

input[name="selstore"]:checked ~ .summarylist {display: flex;}

@keyframes w {
    0% {width: 0;}
    100% {width: 100%;}
}

input[id="one"]:checked ~ .summarylist .item:nth-child(1),
input[id="two"]:checked ~ .summarylist .item:nth-child(2),
input[id="three"]:checked ~ .summarylist .item:nth-child(3),
input[id="four"]:checked ~ .summarylist .item:nth-child(4),
input[id="five"]:checked ~ .summarylist .item:nth-child(5) {
    display: flex;
    animation: w 1.5s;
}

/* 상품목록 */

.itemlist {
    display: none;
    width: 600px;
    height: 730px;
    background-color: rgba(0, 0, 0, .5);
    position: relative;
    top: -60%;
    left: 55%;

    overflow-y: auto;
}

.itemlist .box {
    padding: 40px;
    position: absolute;
    display: none;
}

.itemlist .box .item {
    color: #fff;
    margin-bottom: 20px;
}

.itemlist .box .item img {
    width: 500px;
    height: 500px;
    object-fit: cover;
}


input[name="selstore"]:checked + input[name="viewitem"]:checked ~ .itemlist {display: flex;}

input[id="one"]:checked + input[id="six"]:checked ~ .itemlist .box:nth-child(1),
input[id="two"]:checked + input[id="seven"]:checked ~ .itemlist .box:nth-child(2),
input[id="three"]:checked + input[id="eight"]:checked ~ .itemlist .box:nth-child(3),
input[id="four"]:checked + input[id="nine"]:checked ~ .itemlist .box:nth-child(4),
input[id="five"]:checked + input[id="ten"]:checked ~ .itemlist .box:nth-child(5) {
    display: block;
    animation: w 1.5s;
}

/* 대표빵 */

.repre {
    background-image: url(../img/1.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.sug {
    background-image: url(../img/13.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.gal {
    background-image: url(../img/99-1.jpg);
    background-size: cover;
    background-attachment: fixed;
}